.header {
    padding: 10px;
    background: #3069e2;
    color: white;
    font-size: 20px;
}

.box {
    background-color: lightgrey;
    height: 220px;
    width: 200px;
    border: 2px solid darkgrey;
    border-radius: 1em;
    margin: auto;
    padding: 40px;
} 

#h2 {
    text-align: center;
}

.firstRow {
    width: auto;
    position: absolute;
    column-count: 3;
    column-gap: 40px;
    border-radius: 1em;
    padding: 10px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 35px;
}

.box::after {
    content: "";
    clear: both;
}

.secondRow {
    position: absolute;
    background-color: lightgrey;
    width: auto;
    border: 2px solid darkgrey;
    border-radius: 1em;
    margin: 500px;
    padding: 40px;
}

#loan {
    padding: 12px 30px;
    border-radius: 8px;
    background-color: lightgreen;
    width: 100;
}

#bankButton {
    padding: 12px 30px;
    border-radius: 8px;
    background-color: lightblue;
}

#workButton {
    padding: 12px 30px;
    border-radius: 8px;
    background-color: yellow;
}

#repayButton {
    padding: 12px 30px;
    border-radius: 8px;
    background-color: lightpink;
}

#buyButton {
    padding: 12px 30px;
    border-radius: 8px;
    background-color: turquoise;
}

#products{
    background-color: lightcyan;
}

#image {
    width: 100%;
}

.title { 
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

p.outstanding {
    visibility: hidden;
}

.innerbox {
    align-items: center;
    height: 100px;
    width: 200px;
    border-radius: 1em;
    padding: 5px;
    margin: 10px ;
    padding: 50px 50px 100px 50px;
}

#info {
    column-count: 3;
    column-gap: 5px;
}

#features {
    width: fit-content;
    size: 0px;
}
